# fly.toml app configuration file generated for guffgaff1-snowy-water-8605 on 2024-02-21T12:10:16+05:45
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'guffgaff1-snowy-water-8605'
primary_region = 'sin'

[build]
  image = 'metalhead224/guffgaff:latest'

[env]
  ASPNETCORE_URLS = 'http://+:8080'
  CloudinarySettings__ApiKey = '487385366554317'
  CloudinarySettings__CloudName = 'deqzcltju'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
